<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core"/>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="AzureQueueConfig" type="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure.Transports.WindowsAzureStorageQueues"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
  </configSections>
  <connectionStrings>
    <add name="ARSNETEntities" connectionString="9JS2qKWbiem+JDEeL70jdnLaHk36InJnkGzY8ngmmGh2GDG4R9lQs3YGk/adHNF0+Mm4uYxcb3hrTK7XKOLi3Aaq19WKO1xJXpO3rQydKp0LxluRtR29S1bZWhwXmQRaZ69/ffxcDP/gmkjO0O61ic+t8BfVDK5Vq6MuaU4P3SN3sN6Fy23hr/bhYt4a+l35Qvv2MwMZ0XGef9e1vPYVAPvt8VAlNF9dr/NrPu1ALMl2CbtuFzsDeDRtOtgd9RMn84uxTcS5/FbfhVdgsE4DfXzWaNgdcIY1lXMOlHX8iYZRpF2UolE4XSJElGUMciy4Sa/nVN6c8tao9n4IGcpEzArvesqyHdhI7x8d7OoAgPSq5qbJEcZ7YCA7D64YUsW7jHf/X8PHiqkivp+ht5YETriifg0AD2NYA38ROsR1wdqmekiS9LxydaFuXX9pgRdKw58R0uTPTxpQ3x1dSP+WXVcRnuidgT+EZlFLx+GCy11widsSYNk/GWt4zjqXGZQISUaa6yNeb+7vKrlEDtUMXmETPWMQRIXn+2HI2kw4xZQiiyVXYCf6HBY1d6Vs+bqVTvgb+d1NcwzaGb2bXPp4J6zhxF2PqS/MQuy/7iODSI5PWSUllKle5I/aZ82KrUYJp1sYXt+m+/ibDieQvqY51Np3Ns0l8qcFXvGM1hQEUOsNG1CAVIwryAEJgHaoF5k5"
      providerName="System.Data.EntityClient" />
  </connectionStrings>

  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:30" NumberOfRetries="2"/>
  <AuditConfig QueueName="6E326F85-D7E6-4E1D-8E63-0920556548EA-audit"/>

  <Logging Threshold="DEBUG"/>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="StoreKey" value="6E326F85-D7E6-4E1D-8E63-0920556548EA"/>
    <add key="AzureDownloadPeekInterval" value="60000"/>
    <add key="AzureDownloadBatchSize" value="25"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Security.Binding">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_POSAdmin"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/IMSNET/EncryptionService/" name="EncryptionService" binding="wsHttpBinding" bindingConfiguration="Security.Binding" contract="IMSNET.Services.Security.Contracts.IEncryptionService"/>

      <endpoint address="http://10.123.1.112/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_POSAdmin" contract="POSAdmin.Contract.IService1" name="POSAdminService"/>

    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
